.jfx-button{
    -fx-background-color: #1976D2;
    -fx-text-fill: white;
}

.jfx-button:hover{
    -fx-background-color: #388E3C;
}

.jfx-textfield:active{
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
}

